

<div class="row">
    <div class="col-xs-12 col-md-12">
        <h1> Admin Home </h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="@Url.Action("Index","cities")" class="thumbnail">
            <img src="https://dummyimage.com/300x300/f0f0f0/142c5c&text=city+management" alt="SPA Management" />
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="@Url.Action("Index","CatSubCat")" class="thumbnail">
            <img src="https://dummyimage.com/300x300/f0f0f0/142c5c&text=Category+management" alt="SPA Management" />
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="@Url.Action("SubCategory","CatSubCat")" class="thumbnail">
            <img src="https://dummyimage.com/300x300/f0f0f0/142c5c&text=Sub+Category+management" alt="SPA Management" />
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="@Url.Action("Index","spa")" class="thumbnail">
            <img src="https://dummyimage.com/300x300/f0f0f0/142c5c&text=spa+management" alt="SPA Management" />
            @*<button type="submit" class="btn btn-primary">SPA Management</button>*@
        </a>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="" class="thumbnail">
            <img src="https://dummyimage.com/300x300/f0f0f0/142c5c&text=News+Blog+update" alt="SPA Management" />
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="" class="thumbnail">
            <img src="https://dummyimage.com/300x300/f0f0f0/142c5c&text=User+Management" alt="SPA Management" />
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="" class="thumbnail">
            <img src="https://dummyimage.com/300x300/f0f0f0/142c5c&text=My+Profile" alt="SPA Management" />
        </a>
    </div>
</div>



